
$breakpoint:650px;
#banner {
  margin: 2rem;
  h1 {
    text-transform: uppercase;
    text-align: center;
  }
  min-height: 90vh;
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.548);
  display: grid;
  @media (min-width: $breakpoint) {
    background-image: url("../../../../../assets/images/imagem-banner.jpg");
    background-repeat: no-repeat;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "img titulo"
      "img texto";
  }
  @media (max-width: $breakpoint) {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "img"
      "titulo"
      "texto";
  }

  justify-items: center;
  align-items: center;
  #imagem-banner {
    grid-area: img;
    @media (max-width: $breakpoint) {
      background-image: url("../../../../../assets/images/imagem-banner.jpg");
      background-repeat: no-repeat;
      background-size:cover;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h1 {
      color: var(--text-secundary-color);
      text-shadow: 2px 2px #36353549;
      font-size: 20pt;
    }
  }
  #titulo-banner {
    grid-area: titulo;
    width: 100%;
    height: 100%;
    background-color: var(--background-secundary-color);
    h1 {
      color: var(--text-secundary-color);
    }
    display: grid;
    justify-content: center;
    align-items: center;
  }
  #texto-banner {
    grid-area: texto;
    width: 100%;
    height: 100%;
    background-color: var(--background-quarternary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0 3rem 0 3rem;
    p {
      color: var(--text-quarternary-color);
      font-weight: 500;
    }
    #texto-botao {
      margin: 2rem 0 4rem 0;
      color: var(--text-quarternary-color);
      padding: 1rem 2rem 1rem 2rem;
      font-weight: 500;
      border-style: solid;
      border-width: 0.1rem;
      border-radius: 2rem;
    }
  }
}
