<section id="banner">
  <div id="imagem-banner">
    <h1>É só pedir e acreditar</h1>
  </div>
  <div id="titulo-banner">
    <h1>O que é a nota fiscal da gente</h1>
  </div>
  <div id="texto-banner">
    <p>
      O programa de incentivo à cidadania e justiça fiscal denominado Nota da
      Gente é uma iniciativa do Governo do Estado de Sergipe para fortalecer no
      consumidor a consciência da cidadania e do compromisso para com a
      sociedade ao exigir a nota ou o cupom fiscal em toda e qualquer relação de
      compra e venda.
    </p>
    <a href="" id="texto-botao">
        Saiba mais
    </a>
  </div>
</section>
