h1{
    font-size: 30pt;
}

#banner{
    *{
        color: var(--text-secundary-color);
    }
    width: 100%;
    height: 600px;
    #texto-banner{
        margin-top:3rem;
    }
    svg{
        opacity: 0.4;
        width: 9rem;
        path{
            stroke:var(--secundary-color)
        }
    }
}
