<section
  id="banner"
  class="p-d-flex p-justify-center p-align-center p-flex-column"
>
  <h1 id="banner-titulo">Como participar</h1>
  <p id="banner-texto">
    A Nota da Gente procura incentivar o consumidor a exigir a nota fiscal e
    contribui com o fortalecimento de entidades que prestam serviços sociais aos
    mais necessitados. Para participar é muito fácil: cadastre-se uma única vez
    no site da promoção, exija sempre a nota fiscal com o seu CPF no ato da
    compra e confira se essas notas estão sendo lançadas através do site.
  </p>
  <a id="banner-btn">Saiba mais</a>
  <div id="banner-icones" class="p-grid">
    <div class="icon-container p-col-12 p-md-6 p-d-flex p-flex-column p-align-center">
      <i class="pi pi-desktop"></i>
      <h1>Cadastre-se</h1>
      <p>Cadastre-se uma única vez no site da promoção</p>
    </div>
    <div class="icon-container p-col-12 p-md-6 p-d-flex p-flex-column p-align-center">
      <i class="pi pi-comments"></i>
      <h1>Indique</h1>
      <p>Indique uma Instituição a ser beneficiada</p>
    </div>
    <div class="icon-container p-col-12 p-md-6 p-d-flex p-flex-column p-align-center">
      <i class="pi pi-file-o"></i>
      <h1>Peça a nota</h1>
      <p>Peça nota fiscal no ato da compra</p>
    </div>
    <div class="icon-container p-col-12 p-md-6 p-d-flex p-flex-column p-align-center">
      <i class="pi pi-dollar"></i>
      <h1>Ganhe Premios</h1>
      <p>Informe o seu CPF para concorrer a prêmios</p>
    </div>
  </div>
</section>
