<section
  id="banner"
  class="p-d-flex p-align-center p-justify-center p-flex-column"
>
  <h1 id="titulo-banner">Estatísticas</h1>

  <div id="banner-icones" class="p-grid">
    <div
      class="icon-container p-col-12 p-md-6 p-d-flex p-flex-column p-align-center"
    >
      <i class="pi pi-desktop"></i>
      <h1>Cupons/notas recebidos</h1>
      <p>533.700.843</p>
    </div>
    <div
      class="icon-container p-col-12 p-md-6 p-d-flex p-flex-column p-align-center"
    >
      <i class="pi pi-comments"></i>
      <h1>Consumidores Cadastrados</h1>
      <p>142.431</p>
    </div>
    <div
      class="icon-container p-col-12 p-md-6 p-d-flex p-flex-column p-align-center"
    >
      <i class="pi pi-file-o"></i>
      <h1>Notas recebidas</h1>
      <p>93.228.926</p>
    </div>
    <div
      class="icon-container p-col-12 p-md-6 p-d-flex p-flex-column p-align-center"
    >
      <i class="pi pi-dollar"></i>
      <h1>Entidades cadastradas</h1>
      <p>20</p>
    </div>
  </div>
</section>
